/*Tablet responsive layout*/

/*Nav bar layout*/

.navbar ul{
	flex-wrap: wrap;
	justify-content: center;
}
/*Heading setting*/
.heading{
	font-size: 2.5rem;
}

/*About page*/
#pic{
	flex-direction: column;
	align-items: center;
}
#pic img{
	width: 475px;
	height: 300px;
}
#intro h2{
	text-align: center;
	padding: 10px;
}
/*Contact page*/
.input{
	width: 60%;
}
#msg{
	width: 55%;
}
#send{
	width: 20%;
}